@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: darkseagreen;
  text-align: center;
  h1 {
    color:white;
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  };
  .hide {
    display: none
  }
  h5 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .sTitle {
    color:darkslategrey;
  }
}
.shroomCard {
  margin-right: 10px;
}

.flex-wrap {
margin: 30px
}
